header{
    background-color: royalblue;
    display: flex;
    z-index: 2;
    .header-nav{
        display: flex;
        
        .nav-link{
            text-decoration: none;
            padding: 1rem;
            color: antiquewhite;
            
            &.active{
                color: antiquewhite;
                text-shadow: 0 0 2px white; 
            }

            &:hover{
                background-color: rgb(34, 83, 232);
            }
        }
    }

    .user-info{
        margin-left: auto;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: white;
        padding-inline: 1rem;
        cursor: pointer;
    }
}